/* HEX */
:root {
	--color-dark: #0B0033; /*russian violet*/
	--color-dark-alt: #4B1746; /*dark purple*/
	--color-accent: #CB9CF2; /*bright lilac*/
	--color-light: #CBF3F0; /*light cyan*/
	--color-light-alt: #E09F7D; /*antique brass*/
}

.row.content {
	height: 1500px;
	/* margin: 20px; */
}
.sidenav {
	background-color: var(--color-dark);
	height: 100%;
	width: 20%;
	color: var(--color-light);
	/* padding: 20px; */
	/* margin: 20px; */
}

@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
		width: auto;
	}
}

body {
	background-color: var(--color-light);
	color: var(--color-dark-alt);
	font-family: Bookman;
}
#google_translate_element {
	float: right;
}

hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid rgba(11, 0, 51, 1);
	}

h4 {
	text-align: left;
	height: 50px;
	color: var(--color-dark-alt);
	font-weight: bold;
	font-size: 50px;
}
#phpMe {
	background-color: #CB9CF2;
	color: var(--color-dark);
}
h3 {
	
}
.col-sm-9 {
	font-size: 15px;
	text-align: left;
	max-width: 75%;
}
.img-thumbnail {
	max-width: 80%;
	height: auto;
	padding: 20px;
	margin: 20px;
}