/* HEX */
:root {
	--color-dark: #0B0033; /*russian violet*/
	--color-dark-alt: #4B1746; /*dark purple*/
	--color-accent: #CB9CF2; /*bright lilac*/
	--color-light: #CBF3F0; /*light cyan*/
	--color-light-alt: #E09F7D; /*antique brass*/
}

.row.content {
	height: 1500px;
}
.sidenav {
	background-color: var(--color-dark);
	height: 100%;
	width: 20%;
	color: var(--color-light);
}
footer {
	background-color: var(--color-dark-alt);
	color: var(--color-light);
	padding: 10px;
	position: fixed;
	width: 100%;
	bottom: 0px;
	text-align: center;
}
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}
body {
	background-color: var(--color-light);
	color: var(--color-dark-alt);
}
#google_translate_element {
	float: right;
}
hr {
	background-color: var(--color-accent);
}
#titlebtn {
	text-align: left;
	height: 50px;
	font-family: Bookman;
	color: var(--color-light-alt);
	font-weight: bold;
	font-size: 20px;
}

h4 {
	text-align: left;
	height: 50px;
	font-family: Bookman;
	color: var(--color-dark-alt);
	font-weight: bold;
	font-size: 50px;
}